@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/setup/variables";

.wallet {
    height: 500px;
    background-color: #0b1426;
    border-radius: 25px;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 0 45px 8px #146dacc7;
    border: 1px solid white;
    display: flex;
    gap: 25px;

    .info {
        margin-top: 20px;
        margin-inline-start: 25px;
        width: 60%;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 40px;
    }

    h3 {
        margin-bottom: 12px;
        color: $secondary-blue;
        font-family: Dosis-Bold;
    }

    .balance {
        margin-bottom: 20px;
        .header {
            display: flex;
            justify-content: space-between;
        }

        p {
            margin-bottom: 8px;
        }

        .balance-btc {
            color: $primary-gray;
        }

        .balance-usd {
            color: $primary-gray;
            display: inline-block;
            margin-bottom: 5px;
        }

        .btn-contacts {
            @include primaryButton();
        }
    }

    .transactions {
        overflow-y: auto;
        @include primaryScroll();
    }

    .chart-container {
        flex: 1;
    }
}
