<section class="wallet">
    <div class="info">
        <div class="balance">
            <div class="header">
                <h3>{{ user.name }}'s balance</h3>
                <span>Current BTC/USD:</span>
            </div>
            <p>
                Equity Value(BTC): <span>₿{{ user.balance }}</span>
            </p>
            <p>
                Equals to(USD): <span>${{ user.balance }}</span>
            </p>
            <button class="btn-contacts">View contacts</button>
        </div>
        <div *ngIf="user.transactions.length" class="transactions">
            <h3>Your Transactions</h3>
        </div>
    </div>
    <div class="chart-container"></div>
</section>
