* {
    box-sizing: border-box;
}

html {
    font-family: "Dosis-Medium";
}

body {
    margin: 0;
    background-color: #0b1426;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

input:focus {
    outline-width: 0;
}

p {
    margin: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
