<section class="signup">
    <div class="main-logo" routerLink="/wallet">
        <img src="../../../assets/img/bitcoin.png" alt="bitcoin" />
        <h1>Mr.Bitcoin</h1>
    </div>
    <div class="main-content">
        <h1>Sign up</h1>
        <span>Join free today and get $50 worth of BTC</span>
        <form>
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                placeholder="Enter your username"
            />
            <button>Create an account</button>
        </form>
        <recommendation></recommendation>
    </div>
    <img class="img-hero" src="../../../assets/img/hero.avif" alt="hero" />
</section>
