.contact-details {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-top: 100px;
  font-size: 1.2em;
  max-width: 750px;
  margin: auto;

  .img-container {
    height: 350px;
    width: 350px;

    img {
      border-radius: 15px;
    }
  }

  .contact-info {
    min-width: 350px;
    display: flex;
    flex-direction: column;
  }

  .info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .btn-back {
      background-color: transparent;
      color: #119afa;
      padding: 0;
      transition: color 0.1s;
      &:hover {
        color: #11d0fa;
      }
    }

    span {
      color: #75849f;
      font-size: 16px;
    }
  }

  .info-body {
    h2 {
      margin-bottom: 8px;
    }
    h3 {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 400;
    }

    form {
      display: flex;
      margin-bottom: 16px;

      input {
        height: 50px;
        border-radius: 4px 0 0 4px;
        border: none;
        flex: 1;
        padding-inline-start: 15px;
        font-size: 18px;
      }

      .btn-transfer {
        padding: 8px 24px;
        border-radius: 0 4px 4px 0;
        background: linear-gradient(90deg, #1199fa, #11d0fa);
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .errors {
      color: rgb(156, 47, 47);
      margin-block-end: 10px;
    }
    p {
      color: #75849f;
      font-size: 16px;
    }
  }

  .info-footer {
    margin-top: auto;

    button {
      border-radius: 30px;
      padding: 8px 16px;
      transition: background-color 0.1s;
    }

    .btn-edit {
      background-color: #0f1d39;
      margin-inline-end: 20px;
      color: white;
      &:hover {
        background-color: #11d0fa;
      }
    }

    .btn-remove {
      background-color: transparent;
      color: #75849f;
      &:hover {
        background-color: #0f1d39;
      }
    }
  }
}
