@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";

.app-header {
    font-family: "Dosis-Medium";
    font-size: em(22px);
    color: white;

    .layout-container {
        display: flex;
        align-items: center;
    }

    .main-logo {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: color 0.1s;

        &:hover {
            color: #1199fa;
        }

        img {
            width: 40px;
        }

        h1 {
            font-size: em(22px);
        }
    }

    .navbar {
        display: flex;
        gap: 15px;

        .icon-wallet {
            svg {
                color: "white";
                background-color: white;
            }
        }

        a {
            height: 60px;
            transition: color 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                opacity: 0.85;
            }

            &.active {
                color: #119afa;
            }
        }

        .seperator {
            width: 1px;
            margin: 14px 0;
            background-color: #626973;
        }
    }
}
